# Virtual environments
venv/
.venv/
env/
.env

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Build artifacts
dist/
build/
*.egg-info/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
*.tmp
*.swp

# Sensitive data (example)
config.ini
.env

# Operating System specific files
.DS_Store
Thumbs.db